@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

*{
  font-family: "Manrope";
}
body{
  background-color: white;
  position: relative;
  max-height: 100vh;
  overflow-y: hidden;
}
:root{
  --primary : #2962FF;
  --secondary : #7C4DFF;
}
button{
  padding : 3px 15px !important;
  background-color: #2962FF !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none !important;
  box-shadow:none !important;
}
input{
  padding: 1rem .7rem !important;
  height: 32px !important;
  font-size: 15px !important;
}
input:focus{
  font-size: 15px !important;
}
input[type=file]{
  height: auto !important;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F5F5F5;
  /* background :linear-gradient(to right, #2962FF, #1A237E); */
}
.w-heading{
  color : white;
}
h3{
  text-align: center;
}

.small-progress {
  min-width: 20px;
  min-height: 20px;
  border:solid 3px #0d6dfb;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: all 0.5s ease-in-out;
  animation: loadingRotate 0.4s linear infinite;
  margin: 9px auto;
}
.small-progress2 {
  min-width: 20px;
  min-height: 20px;
  border:solid 3px #0d6dfb;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: all 0.5s ease-in-out;
  animation: loadingRotate 0.4s linear infinite;
  margin: 9px auto;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.big-progress {
  width: 50px;
  height: 50px;
  border:solid 5px var(--secondary);
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: all 0.5s ease-in-out;
  animation: loadingRotate 1s linear infinite;
}

@keyframes loadingRotate {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

.register-card{
  background-color: white;
  box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
  border-radius: 5px;
  padding: 40px 60px;
  height: 530px;
  width: 350px;
}
.form-box{
  min-height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-card input, .login-card input, .quiz-info-card input{
  width: 280px;
}
.login-card{
  background-color: white;
  box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
  border-radius: 5px;
  padding: 40px 60px;
  height: 350px;
  width: 350px;
}

.register-card p, .login-card p{
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
}

.card-container{
  background-color: white;
  box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
  border-radius: 5px;
}

.msg{
  font-size: 13px;
}

#snackbar {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px;
  background-color: #333;
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 12px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px;
  border-radius: 5px;
}

#snackbar.show {
  visibility: visible; 
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

a{
  text-decoration: none;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.register-card form, .login-card form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register-card form h5, .login-card form h5{
  align-self: flex-start;
}
.msg{
  align-self: flex-start;
  /* min-height: 10px; */
}
.navbar-brand{
  color : white !important;
  font-size : 26px !important;
}
.row>*{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.side-menu a{
  color : black;
}
.side-menu a:hover{
  color : black;
}
.side-menu{
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
  /* background-color: white;
  background-color: yellow; */
  /* border-right: 1px solid black; */
}
.side-menu-link{
  margin: 10px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 8px;
  padding-left: 18px;
  border-radius: 50px;
  font-size: 20px;
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: var(--primary);
  color : white
}

.side-menu-link:hover{
  background-color: var(--secondary);
}

.page-heading{
  border-bottom: 1px solid gainsboro;
  text-align: center;
  padding-top: 7px;
}
.col-3{
  margin: 0px !important;
  padding: 0px !important;
}
.side-menu-container{
  min-height: 100vh;
  background-color: var(--primary);
}
.page-container{
  overflow-y: scroll !important;
  height: 99vh;
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.page-container::-webkit-scrollbar {
  display: none;
}
.brand-heading{
  font-size: 16px ;
  padding: 10px;
  padding-top: 15px;
  margin-left: 35px;
  /* padding-left: 20px; */
}
.brand-heading a{
  color : white !important;
}
.menu-icon{
  margin-bottom : 4px;
  margin-right: 5px;
  color : white;
}
.profile-info{
  margin: 10px;
}
.profile-info img{
  border-radius: 50%;
  width: 195px;
  height: 190px;
}
.profile-name{
  margin-top: 13px;
}
.profile-bio{
  
  padding: 10px;
  padding-top: 5px;
  text-align: center;
}
.active-menu{
  background-color: var(--secondary);
}
.share-url{
  border: 1px solid gainsboro;
  margin: 10px;
  color : var(--primary);
  text-align: center;
  padding: 8px;
  border-radius: 20px;

}
.share-url p{
  margin: auto;
}
.share-url-btn{
  background-color: var(--primary) !important;
  border-radius: 20px;
  color: white;
  margin: 10px;
  height: 38px;
  width: 97%;
  transition : 0.2s ease-in;
}
.share-url-btn:hover{
  color : white !important;
}

.share-url-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-container button{
  height: 35px;
  border-radius: 20px;
  transition : 0.2s ease-in;
}
.msg-card{
  border-radius: 5px;
  background-color: var(--primary);
  margin : 20px;
  color: white;
}
.anno-msg{
  padding: 40px;
  padding-bottom: 10px;
  font-size: 16px;
}
.msg-date{
  padding-left: 40px;
  padding-bottom: 13px;
  font-size: 14px;
}
.acc-set-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
input[type=file]::file-selector-button{
  margin-top: 10px;
  font-size: 13px;
  color : white;
  background-color: var(--primary);
  border-radius: 5px;
  border : none;
}


/* BOTTOM MENU */

.bottom-menu{
  position: fixed;
  bottom: 0;
  background-color: var(--primary);
  width: 100%;
  height: 50px;
  display: none;
  z-index: 5000;
  
}
.bottom-menu ul{
  list-style: none;
  color: var(--white);
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  justify-content: space-between;
}
.bottom-menu li{
  display: block;
  color: white;
}
.bottom-menu li span{
  font-size: 13px;
}

.b-menu-btn{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 7px;
  margin-left: 7px;
  margin-right: 7px;
 
}
.bmenu-active{
  color: darkgray;
  font-weight: 500;
  
}
.bottom-menu ul li:nth-child(1){
  margin-left: 10px;
}
.bottom-menu ul li:nth-child(5){
  margin-right: 10px;
}

/* SEND MSG PG */
.send-msg{
  min-height: 100vh;
}
.send-msg img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.send-msg{
  padding: 10px;
}
.send-msg p{
  margin-bottom: 20px;
}
.s-msg-text{
  height: 180px;
  width: 100%;
}
.s-msg-btn{
  background-color: var(--primary) !important;
  border-radius: 20px;
  color: white;
  height: 38px;
  width: 100%;
  transition : 0.2s ease-in;
}
.s-msg-form{
  min-width: 50vw;
}
.navbar-title{
  text-decoration: none;
  padding: 5px;
  font-size: 19px;
  color: white;
}
nav a:hover, .s-msg-btn:hover{
  color  : white;
}
nav{
  background-color: var(--primary);
}
.b-menu-btn{
  cursor: pointer;
}

/* LANDING PAGE */
.l-pg-container{
  background-image :  linear-gradient(to left, var(--primary),var(--secondary));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 35px;
  /* max-width: 1500px; */
}
.l-pg-container h1{
  color:  white;
  font-size: 50px;
  transition: 0.2s ease-in-out;
  animation: fadein2 2s;
}
.s-bio{
  color: #757575 !important;
  margin-bottom: 50px !important;
  max-width: 600px;
}
@keyframes fadein2 {
  from {opacity: 0}
  to {opacity: 1;}
}

.l-pg-container p{
  color: white;
  width: 670px;
  font-size: 35px;
  animation: fadein2 2s;
}
.l-pg-btn{
  color : black;
  background-color: white !important;
  padding: 15px;
  border-radius: 35px;
  font-size: 28px;
  animation: fadein2 2s;
}
/* .mc{
  max-width: 2048px;
} */
@media(max-width : 710px){
  .l-pg-container{
    padding-left : 18px;
  }
  .l-pg-container h1{
    font-size: 24px;
  }
  .l-pg-container p{
    width: auto;
    font-size: 20px;
  }
  .l-pg-btn{
    font-size: 18px !important;
    border-radius: 18px;
  }
}
@media(max-width : 900px){
  .right-sb{
    display: none;
  }
  .left-sb{
    display: none;
  }
  .main-content{
    width: 100%;
  }
  .page-container{
    padding-bottom: 30px !important;
  }
  .bottom-menu{
    display: block;
    justify-content: center;
    /* align-items: center; */ 
  }
  
}

@media (max-width : 480px){
  .main-container, .send-msg {
    min-height: 93vh !important;
  }
  h4{
    font-size: 18px;
  }
  p{
    font-size: 13px;
  }
  .profile-info img{
    width: 135px;
    height: 130px;
  }
  h5{
    font-size: 16px !important;
  }
  h3{
    font-size: 14px !important;
  }
  input[type="text"], input[type="email"],input[type="password"]{
    font-size:15px !important;
  }
  textarea{
    font-size: 14px !important;
  }
  .s-msg-text{
    height: 130px;
    width: 100%;
  }
  .s-msg-form{
    min-width: 100%;
  }
  .s-bio{
    max-width: 300px;
  }
}



@media (max-width : 400px){
  .newmodal-card{
    width: 270px;
    height: 280px;
  }
  button{
    font-size: 15px !important;
  }
  .register-card{
    width: 290px;
    height: 495px;
  }
  .login-card{
    height: 350px;
    width: 290px;
  }
  .register-card input, .login-card input{
    width: 240px;
  }
  input{
    height: 28px !important;
    font-size: 15px !important;
  }
  label{
    font-size: 13px !important;
  }
  .msg{
    font-size: 12px !important;
  }
}
